      <head>
        <script src="/js/partials/footer.js"></script>
    		<link rel="stylesheet" type="text/css" href="/css/partials/footer.css">
      </head>

      <div id="bottom_container">
        <div id="bottom_sub_container">
          <p id="bottom_title"><a href="/">Lykos GC</a></p>
          <ul id="bottom_nav_container">
            <li id="bottom_nav_item"><a href="/">Home</a></li>
            <li id="bottom_nav_item"><a href="/contact">Contact Us</a></li>
            <li id="bottom_nav_item"><a href="/terms">Terms</a></li>
            <li id="bottom_nav_item"><a href="/privacy">Privacy</a></li>
          </ul>
          <p id="bottom_copyright">© 2018-2019 Nathan Rath All Rights Reserved</p>
        </div>
      </div>
    </body>
</html>
