<% include ../../partials/header %>

<script src="/js/pages/user/password_reset_change.js"></script>
<script id="_scriptVars" _userID="<%= locals.userID %>" _hash="<%= locals.hash %>"></script>
<link rel="stylesheet" type="text/css" href="/css/pages/user/password_reset_change.css">

<title>Reset Password</title>

<div id="main_container">

	<div id="reset_title_container">
		<h3 id="reset_title">Reset Password</h3>
	</div>

	<div id="spacer"></div>

	<p id="reset_text">Enter your new password</p>
	<input id="password" class="form_input input" type="password" name="password" placeholder="New Password">
	<p id="password_error" class="error_text"></p>
	<input id="password_confirm" class="form_input input" type="password" name="password_confirm" placeholder="Confirm New Password">
	<p id="password_confirm_error" class="error_text"></p>

	<div id="spacer"></div>

	<div class="standard_button" id="submit_button">Reset</div>
</div>

<% include ../../partials/footer %>
