<% include ../../partials/header %>

<script src="/js/pages/user/password_change.js"></script>
<script id="_scriptVars"></script>
<link rel="stylesheet" type="text/css" href="/css/pages/user/password_change.css">

<title>Change Password</title>

<div id="main_container">

	<div id="change_title_container">
		<h3 id="change_title">Change Password</h3>
	</div>

	<div id="spacer"></div>

	<p id="change_text">Enter your current password</p>
	<input id="password" class="form_input input" type="password" name="password" placeholder="Previous Password">
	<p id="password_error" class="error_text"></p>
	<div id="spacer"></div>

	<p id="change_text">Enter your new password</p>
	<input id="new_password" class="form_input input" type="password" name="new_password" placeholder="New Password">
	<p id="new_password_error" class="error_text"></p>
	<input id="new_password_confirm" class="form_input input" type="password" name="new_password_confirm" placeholder="Confirm New Password">
	<p id="new_password_confirm_error" class="error_text"></p>

	<div id="spacer"></div>

	<div class="standard_button" id="submit_button">Change</div>
</div>

<% include ../../partials/footer %>
