<% include ../../partials/header %>

<script src="/js/pages/user/password_reset.js"></script>
<script id="_scriptVars"></script>
<link rel="stylesheet" type="text/css" href="/css/pages/user/password_reset.css">

<title>Reset Password</title>

<div id="main_container">

	<div id="reset_title_container">
		<h3 id="reset_title">Reset Password</h3>
	</div>

	<div id="spacer"></div>

	<p id="reset_text">Enter the email you created your account with.</p>
	<input id="email" class="form_input input" type="email" name="email" placeholder="Email">
	<p id="email_error" class="error_text"></p>

	<div id="spacer"></div>

	<div class="standard_button" id="submit_button">Reset</div>
</div>

<% include ../../partials/footer %>
