/* --- Main container --- */
#main_container {
  position: relative;
  margin: 6% auto 100px auto;
  padding: 0 0 10px 0;
  min-height: 300px;
  width: 380px;
  background-color: rgba(255,255,255,0.7);
  box-shadow: 0 0 2px rgba(255,255,255,1);
  overflow: auto;
}
/* --- Main title container --- */
#login_title_container {
  position: relative;
  margin: 10px;
  padding: 0;
  height: 40px;
  background-color: rgba(15,24,39,1);
  border-color: rgba(5,14,29,1);
  box-shadow: 0 0 5px rgba(0,0,0,1);
  border-style: solid;
  border-width: 1px;
}
#email_title {
  position: relative;
  margin: 10px 0 0 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 100;
  text-align: center;
}
#email_text {
  position: relative;
  width: 330px;
	margin: 0 auto 0 auto;
	padding: 0;
	font-size: 15px;
	font-family: "Arial", sans-serif;
	font-weight: 500;
	color: rgba(33, 33, 33, 1);
	text-align: center;
}
#submit_button {
  position: relative;
  width: 120px;
  margin: 25px auto 0 auto;
}

/* --- Spacers --- */
#spacer {
  position: relative;
	right: 0;
	left: 0;
	width: 300px;
	height: 2px;
	margin: 30px auto 30px auto;
	background-color: rgba(33, 33, 33, 0.99);
}
